* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
html span, body span {
  color: #ff4d05;
}

section1 {
  position: sticky;
  top: 3%;
  background-color: balck;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 50rem;
  color: white;
  justify-content: center;
}
section1 p {
  font-weight: 700;
  font-size: xx-large;
  letter-spacing: 2px;
}
section1 p span {
  color: #ff4d05;
}
section1 nav {
  display: flex;
  gap: 4rem;
}
section1 nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  background-color: none;
  border-radius: 10px;
  padding: 7px;
}
section1 nav a:hover {
  background-color: #ff4d05;
}

section2 {
  display: flex;
  flex-direction: row;
  color: white;
}
section2 #content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10%;
}
section2 #content #hello {
  font-size: 2.5rem;
  margin-left: 0.3rem;
}
section2 #content #name {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 6rem;
}
section2 #content #btns {
  display: flex;
  gap: 15px;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
section2 #content #desc {
  margin-left: 0.5rem;
}
section2 #content #Dwonload {
  background-color: #ff4d05;
}
section2 #content #work {
  border-color: white;
  background-color: black;
}
section2 #content #desc {
  font-size: 1.5rem;
  word-spacing: 4px;
  letter-spacing: 4px;
}
section2 #content button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  width: 10rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}
section2 #content button:active {
  scale: 0.95;
}
section2 img {
  height: 600px;
  width: 600px;
}

section3 {
  align-content: center;
  color: white;
}
section3 h1 {
  margin-left: 45%;
}
section3 p {
  margin-top: 20px;
}

@media (max-width: 1020px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
  }
  html span, body span {
    color: #ff4d05;
  }
  section1 {
    gap: 6rem;
    display: flex;
    flex-direction: row;
    color: white;
  }
  section1 p {
    font-size: 1.05rem;
  }
  section1 nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  section1 a {
    font-size: 0.85rem;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    color: white;
  }
  section1 a:hover {
    background-color: #ff4d05;
  }
  section2 {
    margin-top: 2rem;
    color: white;
  }
  section2 #content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  section2 #content #hello {
    font-size: 1.5rem;
  }
  section2 #content #name {
    letter-spacing: 0.05rem;
    font-size: 3rem;
  }
  section2 #content #desc {
    font-size: 0.9rem;
    word-spacing: 0rem;
    letter-spacing: 0.1rem;
  }
  section2 #content #btns {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  section2 #content button {
    height: 2rem;
    border-radius: 5px;
    padding: 0.2rem;
    width: 6rem;
  }
  section2 #content #Dwonload {
    border-color: white;
    background-color: #ff4d05;
  }
  section2 #content #work {
    border-color: white;
    color: white;
    background-color: black;
  }
  section3 {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */